<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

</head>

<body>

<div id="map" style="height:600px"></div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://leaflet.github.io/Leaflet.heat/dist/leaflet-heat.js"></script>

<script>

var map = L.map('map').setView([22.9734,78.6569],5);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

var heat = L.heatLayer([
[28.6,77.2,0.5],
[26.9,75.8,0.8],
[23.2,72.6,0.6]
]).addTo(map);

</script>

</body>
</html>